@model HomeVM


<h2>@Model.Tytul</h2>

@foreach (var samochod in Model.Samochody)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@samochod.MiniaturkaUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@samochod.Cena.ToString("c")</h3>
                <h3>
                    <a asp-controller="Home" asp-action="Szczegoly" asp-route-id="@samochod.Id">@samochod.Marka</a> - @samochod.Model - @samochod.RokProdukcji
                </h3>
                <h4>
                    Przebieg : @samochod.Przebieg
                </h4>
                <h4>
                    Pojemność : @samochod.Pojemnosc
                </h4>
                <h4>
                    Moc : @samochod.Moc
                </h4>
                <p>@samochod.Opis</p>
            </div>
        </div>
    </div>
}