@model Samochod

<h2> @Model.Marka - @Model.Model</h2>

<div class="thumbnail">
    <img alt="@Model.Marka" src="@Model.ZdjecieUrl" />
    <div class="caption-full">
        <h3 class="pull-right">@Model.Cena</h3>
        <h3>
            <a href="#">@Model.Model</a>
        </h3>
        <h4>@Model.RokProdukcji</h4>
        <h4>@Model.Przebieg</h4>
        <h4>@Model.Pojemnosc</h4>
        <h4>@Model.Moc</h4>
        <p>@Model.Opis</p>
    </div>
</div>